* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: #00ff66;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}
